* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing: grayscale;

}

:root {
    font-size: 62.5%;
}

body {
    max-width: fit-content;
}

html, body, input {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
}


#app {

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}


header nav {
    background: #065E7C;
    display:grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 7.2rem;
}

header nav .paw {
    background: #ffffff;
    padding: 0.8rem ;
    border-radius: 50%;
    margin: 0 2.8rem;
}

header nav .avatar {
    border-radius: 50%;
    margin-right: 0.8rem;
}

header nav input {
    border-radius: 0.4rem;
    height: 4.0rem;
    background: #387e96;
    width: 100%
}

header nav input::placeholder {
   
    color: #ffffff;
    opacity: 0.56;
    
}

.cat {
   
    width: 100%;
    margin-bottom: 3.1rem;
}

h1, button, section, aside {
    margin-left: 2.2rem;
    margin-right: 2.6rem;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 160%;
    margin-bottom: 0.8rem;
}

button {
    border-radius: 50%;
    border: 0;
    background: #065e7c;
    padding: 1.2rem;
    margin-bottom: 0.8rem;
    margin-right: 1.2rem;

}

button:hover {
    opacity: 0.56;

}


section p {
    line-height: 160%;
   
}

aside h2 {
    margin-top: 3.4rem;   
    margin-bottom: 3.2rem; 
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 160%;
}

.item {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

.item h3 {
   font-size: 1.8rem;
   font-weight: bold;
   line-height: 160%;

}

.item span {
    font-size: 1.4rem;
    line-height: 160%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #387e96;
    color: #ffffff;
    height: 6.4rem;
}
